<div class="starter-template container">

  <div class="row">
    <div class="jumbotron">
      <div class="row">
        <img src="assets/img/logo.png" class="col-md-2 img-responsive img-rounded" alt="{{main.config.author}}">
        <div class="col-md-10">
          <span class="label label-success pull-right" ng-show="main.config.available">Disponible</span>
          <span class="label label-error pull-right" ng-show="!main.config.available">Indisponible</span>
          <h1>{{main.config.author}}</h1>

          <p>{{main.config.description}}</p>

          <p>
            <a class="btn btn-primary btn-lg" href="{{main.config.socialNetworks.twitter}}" ng-show="main.config.socialNetworks.twitter"><i class="socicon-twitter"></i></a>
            <a class="btn btn-primary btn-lg" href="{{main.config.socialNetworks.googleplus}}" ng-show="main.config.socialNetworks.googleplus"><i class="socicon-googleplus"></i></a>
            <a class="btn btn-primary btn-lg" href="{{main.config.socialNetworks.facebook}}" ng-show="main.config.socialNetworks.facebook"><i class="socicon-facebook"></i></a>
            <a class="btn btn-primary btn-lg" href="{{main.config.socialNetworks.linkedin}}" ng-show="main.config.socialNetworks.linkedin"><i class="socicon-linkedin"></i></a>
            <a class="btn btn-primary btn-lg" href="{{main.config.socialNetworks.github}}" ng-show="main.config.socialNetworks.github"><i class="socicon-github"></i></a>
            <a class="btn btn-primary btn-lg pull-right" href="{{main.config.cvURL}}">Télécharger (PDF)</a>
          </p>
        </div>
      </div>
    </div>


    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Etudes et diplômes</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li ng-repeat="study in cv.infos.studies | orderBy: beginDate"><strong>{{study.beginDate}}<span ng-show="study.endDate !== study.beginDate">-{{study.endDate}}</span></strong> : {{study.label}}</li>
        </ul>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Expériences professionnelles</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li ng-repeat="experience in cv.infos.experiences | orderBy: beginDate"><strong>{{experience.beginDate}}<span ng-show="experience.endDate !== experience.beginDate">-{{experience.endDate}}</span></strong> : {{experience.job}} ({{experience.enterprise}}, {{experience.country}})</li>
        </ul>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Domaines de compétences</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6" ng-repeat="skill in cv.infos.skills | orderBy: -level">
            <strong>{{skill.label}}</strong>
            <div class="progress">
              <div class="progress-bar progress-bar-info" data-transitiongoal="{{skill.level}}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
